In [1]:
def hello_world():
    print("Hello World")

In [3]:
hello_world()

Hello World

In [4]:
#Funcion de suma
def sum(a,b):
    print(a+b)

In [5]:
sum(10,5)

15

In [6]:
def add(*num):
    print(num)

In [7]:
add(1,2,3)

(1, 2, 3)

In [8]:
add(1,2,3,4)

(1, 2, 3, 4)

In [11]:
def add(*num):
    print(sum(num))

In [15]:
def user_details(username,age):
    print("Username is: ", username)
    print("Age is: ", age)

In [16]:
user_details("Sharvis",100)

Username is:  Sharvis
Age is:  100

In [17]:
def user_details(username, age=None): #Se estructura de esta manera tal que si no hay dato de edad manda None
    print("Username is: ", username)
    print("Age is: ", age)

In [18]:
user_details("Sharvin")

Username is:  Sharvin
Age is:  None

In [19]:
user_details("Sharvin","200")

Username is:  Sharvin
Age is:  200

In [20]:
def user(**username): #Nos devolver un diccionario como respuesta
    print(username)

In [21]:
user(username1="xyz",username2="abc") #Se ingresa de esta manera

{'username1': 'xyz', 'username2': 'abc'}

In [22]:
def user(**user_details):
    print(user_details['username'])

In [23]:
user(username="Sharvin", age="1000")

Sharvin

In [26]:
#Alcance Global
greet = "Hello World"
def testing():
    print(greet)


testing()

Hello World

In [27]:
#Alcance Local 
def testing():
    greet = "Hello World"
    print(greet)

testing()

Hello World

In [29]:
#Declaración de devolución
def add(a,b):
    return a + b

add(1,3)

4

In [31]:
sum = add(5,10)
print(sum)

15

In [33]:
#Funcion Lambda ejemplo
sum = lambda a: a + 10
sum(5)

15

In [35]:
#Comprensión de listas ejemplo de cuadrados
#Podemos hacerlo así
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
#Lo anterior lo podemos lograr de manera más corta
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
#Otra manera más concisa
squeres = list(x**2 for x in range(10))
squeres

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
#Otro ejemplo
num_list = []
for i in range(10):
    for j in range(10):
        if i == j:
            num_list.append((i,j))

num_list

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]

In [44]:
num_list = list((i,j) for i in range(10) for j in range(10) if i == j   )
num_list

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9)]